.container{
    width: 10vw;
    height: 100vh;
    background-color: var(--main);
}

.clients{
    width: 100%;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}

.title{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    cursor: pointer;
}
